.TopBar-header {
/*    background-color: #AD9C78;*/
    background-color: #F1F1F1;

    color: white;
/*    opacity: 0.8;*/
    position: relative;
    width: 100%;
    float: right;
    border-bottom: 15px solid black;
}

.TopBar-motto {
    top: -20px;
    position: relative;
    left: 15px;
/*    font-family: 'Merriweather', serif;*/
    word-spacing: 0.5em;
    font-size: 1.5em;
    color: #40A798;
    margin: 0;
}

img {
    width: 175px;
}